<div>
  <h2>Upload Interim Document</h2>
  <form [formGroup]="uploadform" (ngSubmit)="onFormSubmit()">
    <!-- <mat-form-field class="full-width">
      <input
        matInput
        type="text"
        placeholder="Next Hearing Details"
        formControlName="next_hearing_details"
      />
    </mat-form-field> -->
    <input type="file" accept=".pdf" (change)="onFileSelected($event)" />
    <div class="button-container">
      <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Upload</button>
    </div>
  </form>
</div>
