body {
  margin-bottom: 0;
  background: #2a2e32;
}

.text-small {
  font-size: 0.9rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #212529;
  margin-bottom: 0;
}

/* ==========================================
  CUSTOM UTILS CLASSES
========================================== */
body,
html {
  height: 100%;
}

/* Apply these styles to the footer element */
footer {
  background-color: #333; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  padding: 40px 0; /* Adjust the padding as needed */

  bottom: 0;
  left: 0;
  width: 100%;
}

/* Add styles to the container for better formatting */
.container {
  text-align: center; /* Center the content inside the container */
}

/* Add styles to the links in the footer */
.text-muted a {
  color: #007bff; /* Change this to your desired link color */
}

/* Add styles to the "Quick links" section if needed */
